{% extends 'base.html' %}

{% block title %} input data {% endblock %}

{% block header %} Add New Data {% endblock %}

{% block body %}
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back Home</a>
    <div class="card-body">
        <form action="{{ url_for('input_data') }}" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="text" id="name" class="form-control" placeholder="Input Name" name="name">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" id="email" class="form-control" placeholder="Input Email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="telp">No Telephone:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="text" id="telp" class="form-control" placeholder="Input Telephone" name="telp">
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <textarea name="address" id="address" class="form-control" lass="form-control" placeholder="Input Address" required="required" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm" name="submit">Submit</button>
                <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}